spring:
  application:
    name: vibeapp
  datasource:
    url: jdbc:h2:file:./data/testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false
  sql:
    init:
      mode: always

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
    groups-order: desc
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# mybatis:
#   mapper-locations: classpath:mapper/**/*.xml
#   type-aliases-package: com.example.vibeapp.post
#   configuration:
#     map-underscore-to-camel-case: true

logging:
  level:
    root: info
    org.springframework.boot.autoconfigure: debug
    com.example.vibeapp: debug
  file:
    name: ./logs/app.log

server:
  port: 8080
